body {
    background-color: #404a44;
}

.textoBlanco {
    color: white;
}

.textoNegro {
    color: black;
}

th {
    background-color: #000000;
}

td {
    background-color: white;
}

textarea {
    width: 200px;
    height: 100px;
}

.boton, .mostaza {
    background-color: #D2B272;
    font-weight: bold;
}

.btn-success{
    border: 1px solid black;
}

.nav-pills .nav-link:not(.active) {
    background-color: #D2B272;
    color: white;
}

.nav-pills .nav-link:hover {
    background-color: #968e82;
    color: white;
}

.nav-pills .nav-link.active {
    background-color: #7C7365;
    color: white;
}
.cafe{
    background-color: #7C7365
}

.page-item.active .page-link{
    background-color: #7C7365;
    border-color: white;
}

.page-link, .page-item.disabled .page-link{
    background-color: #D2B272;
    border-color: white;
    color: white;
}

.oculto{
    display: none;
}

svg{
    display: block;
    margin: auto;
}